//- FAVICON MIXINS

//- MIXINS - IE 
mixin favicons_ie(path, ...sizes)
	meta(name="msapplication-config", content="browserconfig.xml")
	meta(name="msapplication-TileColor", content="#FFFFFF")
	meta(name='msapplication-TileImage', content=path + 'mstile-144x144.png')
	meta(name='theme-color', content='#FFFFFF')

//- MIXIN - FAVICONS
mixin favicons(path, ...sizes)
	each size in sizes
		link(rel='icon', type='image/png', href=path + 'favicon-' + size + 'x' + size + '.png', sizes=size + 'x' + size)
	link(rel='icon', type='image/x-icon', href=path + 'favicon.ico', sizes='16x16 32x32 48x48')
	link(rel='shortcut icon', type='image/x-icon', href=path + 'favicon.ico')

//- MIXIN - CHROME ANDROID ICONS
mixin favicons_android(path, ...sizes)
	link(rel="manifest", href=path + 'manifest.json')
	each size in sizes
		link(rel='icon', type='image/png', href=path + 'android-chrome-' + size + 'x' + size + '.png', sizes=size + 'x' + size)

//- MIXIN - APPLE DEFAULT ICONS
mixin favicons_apple(path, ...sizes)
	each size in sizes
		link(rel='apple-touch-icon', sizes=size + 'x' + size, href=path + 'apple-touch-icon-' + size + 'x' + size + '.png')
	link(rel='mask-icon', href=path + 'safari-pinned-tab.svg', color='#555555')